<html>
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
<div style="width: 100%; background: #efefef; border-radius: 10px; padding: 10px;">
    <div style="margin: 30px auto; background: darkblue; width: 40%; border-radius: 10px; padding: 50px; text-align: center;">
        <h1 style="color:white">iPlay Valorant</h1>
        <div style="margin: 30px auto; background: white; width: 40%; border-radius: 10px; padding: 50px; text-align: center;">
            <p style="margin-bottom: 30px;">Thank you for registering with iPlay Valorant! Please copy the following code. {{ code }}</p>

{#            <p slot="code" style="margin-bottom: 30px; font-size: 20px; font-weight: bold;">{{code}}</p>#}
        </div>
    </div>
</div>
</body>
</html>